# git repos for docker-build.sh
external/*

# OpenBLAS
OpenBLAS/*

# mac files
.DS_Store

# CLion IDE fiels
.idea/*
cmake-build-debug

#dev/**/*.tlog
#dev/**/*.idb
VisualStudio/**
dev_src/*/*/*.o
dev_src/*/*.o
dev_src/*.o
src/*/*/*.o
src/*/*.o
src/*.o
**~

win/*
!win/MLIP.sln
!win/readme.txt
!win/mlp/
win/mlp/**
!win/mlp/mlp.vcxproj
!win/mlp/mlp.vcxproj.filters
!win/Shared_project/**

dev_win/*
!dev_win/MLIP.sln
!dev_win/mlp/
dev_win/mlp/**
!dev_win/mlp/mlp.vcxproj
!dev_win/mlp/mlp.vcxproj.filters
!dev_win/Shared_project/**

blas/include/**
blas/lib/**
blas/obj/**
dev_src/alglib/*.o

*.opensdf
*.sdf

*.[ao]
*.swp


bin/*
lib/*
obj/*
*.mk
!make/Makefile*
!make/auto_vars.mk
!make/setup.py
!README.md
!INSTALL.md
!Makefile

build
setup.py

doc/examples/**/out
doc/examples/**/vasp
doc/examples/**/log.lammps

test/self-test/**/out
test/examples/**/out
test/examples/convert-cfg/**/out
test/python/**/out
